{% extends 'main/index.html' %} {% load static i18n %} 
{% block styles %}

<!--  services  -->
<link href="{% static 'css/services.css' %}" rel="stylesheet" />
<link href="{% static 'css/prices.css' %}" rel="stylesheet" />
<link href="{% static 'css/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/clinic.css' %}" rel="stylesheet" />

{% endblock %} 
{% block content %} 
{% if first %}
<section>
  <div class="container">
    <div class="results">
      <div class="results-option">
        <h1 class="result-title">Анализы</h1>
        <ul class="department-result">
          {% if first %}
          <li class="{% if active == 'first' %}active-result{% endif %}">
            <a href="{% url 'prices' %}"> {{ first.name}} </a>
          </li>
          {% endif %} {% for analysis in analysises %}
          <li class="{% if active == analysis.id %}active-result{% endif %}">
            <a href="{% url 'prices' %}?active={{ analysis.id }}">
              {{ analysis.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="hub-description hub-description2">
        <div class="hub-img" style="background-image: url(/media/{{ analysis.imege }});"></div>
        <div class="description-info">
          <div class="descript-top">
            <h1 class="description-title">{{ analysis.name }}</h1>
            <div class="description-text">{{ analysis.description|safe }}</div>
          </div>
          <div class="price-list">
            <div class="result-price">{{ analysis.price }} сом</div>
            <button class="appointment-btn btn-red-60">Записатся</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% comment %} <section>
  <div class="container">
    <div class="slider-heading">
      <h1 class="doc-title">Наши специалисты</h1>

      <div class="doc-text">
        Risus libero, malesuada orci, sit sit dui leo, lacinia mauris arcu
        vestibulum nec vestibulum elit. Risus velit mauris ut. Non augue lorem
        dictum vestibulum odio. Vel nisi elit. Leo, ultricies. Lacinia amet,
        amet, molestie ipsum imperdiet in imperdiet mattis cra.
      </div>
    </div>

    <div class="swiper-container doctor-container">
      <div class="container">
        <!-- Slider main container -->
        <div class="swiper swiper4">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide background-slide"></div>

            <div class="swiper-slide background-slide"></div>
            <div class="swiper-slide background-slide"></div>
          </div>
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination4"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev swiper-button-prev4"></div>
        <div class="swiper-button-next swiper-button-next4"></div>
      </div>
    </div>
    <div class="all-doctors">Все врачи</div>
  </div>
</section> {% endcomment %}

{% comment %} <section>
  <div class="container">
    <div class="hub-banner">
      <div class="hub-info">
        <h1 class="hub-banner-title">Клиника</h1>
        <div class="hub-banner-text">
          <p>
            Aenean in est. Et vel dapibus luctus molestie hac ut. Molestie
            adipiscing sit molestie dui sit nunc mollis in eleifend mauris nisi
            arcu dictumst. Non urna sodales nunc augue vitae sed mattis ornare
            sapien velit nulla sed imperdiet vestibulum cursus hac ut. Morbi
            tortor, et ultricies. Imperdiet est. Accumsan hac arcu justo justo
            venenatis dapibus quis, tortor, dolor nulla dictu.
          </p>
          <br />
          <p>
            Ornare ex. Luctus vestibulum vel in molestie velit sit in in
            imperdiet quis, morbi integer eleifend venenatis nulla lorem ve.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}

{% endblock %}
